# Application
PORT=3000
NODE_ENV=development

# PostgreSQL Database
DB_HOST=127.0.0.1
DB_PORT=5432
DB_NAME=db_rnd
DB_USER=postgres
DB_PASSWORD=postgres123

# MinIO Object Storage
MINIO_ENDPOINT=127.0.0.1
MINIO_PORT=9000
MINIO_USE_SSL=false
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin123
MINIO_BUCKET_NAME=rnd-bucket
